.board {
  border-collapse: collapse;
}

.board td {
  border: 2px solid #cccccc;
  padding: 0;
}

.Cell {
  width: 28px;
  height: 28px;
  background: #999999;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.Cell.opened {
  background: #dddddd;
}

.Cell.flagged {
  background: royalblue;
}

.board.game-over .Cell.has-mine {
  background: #000000;
}

.board.game-over .Cell.flagged {
  background: orange;
}

.board.game-over .Cell.flagged.has-mine {
  background: green;
}

.board.game-over .Cell.opened.has-mine {
  background: #ff0000;
}
